*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* utilidades
F8F9D7 = fondo
typografia = font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Caveat', cursive;
*/


header{
    background-color: #F8F9D7;
    color: black;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar{
    display: flex;
    list-style: none;
    gap: 200px;
    padding-top: 60px;
}

.navbar li a{
    text-decoration: none;
    color: #F0A500;
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

.logos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin-top: 70px;

}


.main{
    background-color: #F8F9D7;
}

.section-principal{
    background-image:url(https://i.blogs.es/f1b4a6/hamburguesas-parrilla/1366_2000.jpg) ;
    width: 100%;
    height: 1000px;
    background-position-y: 63%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1{
    font-size: 90px;
    color: #F0A500;
    text-align: left;
    margin-bottom: 100px;
    font-family: 'Caveat', cursive;
}

h2{
    font-size: 45px;
    color: #F0A500;
    text-align:left;
    margin-bottom: 100px;
    font-family: 'Caveat', cursive;
}

.section-principal div p{
    font-size: 20px;
    color: #F0A500;
    text-align:left;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.section-cocina{
    background-color: white;
    background-image:url(https://i.blogs.es/f1b4a6/hamburguesas-parrilla/1366_2000.jpg) ;
    width: 100%;
    height: 1000px;
    background-position-y: 63%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Caveat', cursive;   
}
.section-cocina h1{
    font-size: 48px;
    color: #F0A500;
    text-align:center;
    font-family: 'Caveat', cursive;
}

