* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

header {
  background-color: #F8F9D7;
  color: black; }

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.navbar {
  display: flex;
  list-style: none;
  gap: 200px;
  padding-top: 60px; }

.navbar li a {
  text-decoration: none;
  color: #F0A500;
  font-family: 'Caveat', cursive;
  font-size: 40px; }

.logos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin-top: 70px;
  display: none; }

footer {
  background-color: bisque;
  text-align: center; }

.main {
  background-color: #F8F9D7; }

.section-principal {
  display: flex;
  background-image: url(https://i.blogs.es/f1b4a6/hamburguesas-parrilla/1366_2000.jpg);
  width: 100%;
  height: 900px;
  background-position-y: 63%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr); }

h1 {
  font-size: 90px;
  color: #F0A500;
  text-align: left;
  margin-bottom: 100px;
  font-family: 'Caveat', cursive;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4; }

h2 {
  font-size: 38px;
  color: #F0A500;
  text-align: left;
  margin-bottom: 100px;
  font-family: 'Caveat', cursive;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 5; }

.grid-texto {
  font-size: 25px;
  color: #F0A500;
  text-align: center;
  font-family: 'Caveat', cursive;
  display: grid;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 4;
  box-shadow: black;
  background-color: rgba(0, 255, 255, 0);
  -webkit-text-stroke: 2px; }

.imagen7 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6; }

.imagen8 {
  display: grid;
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3; }

.imagen9 {
  display: grid;
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 6; }

.div-cocina {
  background-color: white;
  background-image: url(https://i.blogs.es/f1b4a6/hamburguesas-parrilla/1366_2000.jpg);
  width: 100%;
  height: 1000px;
  background-position-y: 63%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Caveat', cursive; }

.div-cocina h1 {
  font-size: 45px;
  color: #F0A500;
  text-align: center;
  font-family: 'Caveat', cursive; }

.video-cocina {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }

.div-menu {
  display: flex;
  background-color: white;
  background-image: url(https://i.blogs.es/f1b4a6/hamburguesas-parrilla/1366_2000.jpg);
  width: 100%;
  height: 900px;
  background-position-y: 63%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Caveat', cursive; }

.div-menu h1 {
  font-size: 45px;
  color: #F0A500;
  text-align: center;
  font-family: 'Caveat', cursive; }

.div-menu h2 {
  font-size: 45px;
  color: #F0A500;
  text-align: center;
  font-family: 'Caveat', cursive;
  margin-top: 100px; }

.menu-hamburguesas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.card {
  position: absolute;
  width: 250px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden; }

.card img {
  width: 100%;
  height: 70%;
  object-fit: cover; }

.card div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  text-align: center; }

.card h3 {
  margin: 0;
  font-size: 1.5rem; }

.card p {
  margin: 0;
  font-size: 1rem; }

.card button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer; }

.card button a {
  color: #fff;
  text-decoration: none; }

.card button:hover {
  background-color: #f1b900; }

.div-principal {
  display: flex;
  background-color: white;
  background-image: url(https://i.blogs.es/f1b4a6/hamburguesas-parrilla/1366_2000.jpg);
  width: 100%;
  height: 900px;
  background-position-y: 63%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Caveat', cursive; }

.donde-estamos {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }

.donde-estamos iframe {
  height: 700px;
  width: 900px; }

.contactanos-chat {
  background-color: #F0A500;
  position: absolute;
  font-size: 40px;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2; }

.div-contacto {
  position: absolute;
  top: 60%;
  left: 27%;
  transform: translate(-50%, -50%);
  z-index: 2; }

@media (max-width: 1440px) {
  .navbar {
    display: flex;
    list-style: none;
    gap: 150px;
    padding-top: 60px; }
  .section-principal {
    height: 850px; }
  .section-principal h2 {
    display: flex;
    text-align: center;
    gap: 10px;
    font-size: 20px;
    margin-top: 73px; }
  .grid-texto {
    font-size: 20px; }
  .video-cocina {
    display: flex;
    margin-top: 100px; }
  .menu-hamburguesas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 300px; }
  .card {
    width: 100%;
    max-width: 180px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden; }
  .card img {
    width: 100%;
    height: auto; }
  .card div {
    padding: 10px;
    box-sizing: border-box; }
  .card h3 {
    font-size: 1.2rem;
    margin: 10px 0; }
  .card p {
    font-size: 1rem;
    margin: 0 0 10px; }
  .card button {
    width: 100%; }
  .donde-estamos {
    margin-top: 200px; }
  .donde-estamos iframe {
    height: 400px;
    width: 700px;
    z-index: 1; } }

@media (max-width: 1024px) {
  .navbar {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 60px; }
  .section-principal h2 {
    display: flex;
    text-align: center;
    gap: 10px;
    font-size: 20px;
    margin-top: 73px; }
  .grid-texto {
    font-size: 20px; }
  .video-cocina {
    display: flex;
    margin-top: 100px; }
  .menu-hamburguesas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 300px; }
  .card {
    width: 100%;
    max-width: 180px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden; }
  .card img {
    width: 100%;
    height: auto; }
  .card div {
    padding: 10px;
    box-sizing: border-box; }
  .card h3 {
    font-size: 1.2rem;
    margin: 10px 0; }
  .card p {
    font-size: 1rem;
    margin: 0 0 10px; }
  .card button {
    width: 100%; }
  .donde-estamos {
    margin-top: 200px; }
  .donde-estamos iframe {
    height: 400px;
    width: 700px;
    z-index: 1; } }

@media (max-width: 768px) {
  .navbar {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 50px; }
  .logos {
    display: none; }
  .section-principal h1 {
    display: flex;
    text-align: center;
    gap: 20px;
    font-size: 60px;
    margin-top: 73px;
    margin-left: 40px; }
  .section-principal h2 {
    display: flex;
    text-align: left;
    gap: 20px;
    font-size: 30px;
    margin-top: 100px;
    margin-left: -250px; }
  .grid-texto {
    display: flex;
    text-align: left;
    gap: 2px;
    font-size: 20px;
    margin-top: 170px;
    margin-left: 20px; }
  .imagen7,
  .imagen8,
  .imagen9 {
    display: none; }
  .video-cocina {
    width: 700px; }
  .div-menu {
    height: 1300px; }
  .menu-hamburguesas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 500px; }
  .card {
    width: 100%;
    max-width: 180px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden; }
  .card img {
    width: 100%;
    height: auto; }
  .card div {
    padding: 10px;
    box-sizing: border-box; }
  .card h3 {
    font-size: 1.2rem;
    margin: 10px 0; }
  .card p {
    font-size: 1rem;
    margin: 0 0 10px; }
  .card button {
    width: 100%; }
  .donde-estamos iframe {
    height: 400px;
    width: 700px;
    z-index: 1; }
  .div-contacto {
    margin-top: 100px; }
  .contactanos-chat {
    margin-top: 100px;
    margin-left: 60px; } }

@media (max-width: 320px) {
  .navbar {
    display: flex;
    list-style: none;
    padding-top: 50px;
    flex-wrap: wrap; }
  .section-principal h1 {
    display: flex;
    text-align: center;
    gap: 20px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 90px; }
  .section-principal h2 {
    display: flex;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    margin-left: -100px; }
  .grid-texto {
    display: flex;
    text-align: center;
    gap: 2px;
    font-size: 18px;
    margin-top: 100px;
    margin-left: -100px; }
  .logos {
    display: none; }
  .imagen7,
  .imagen8,
  .imagen9 {
    display: none; }
  .section-principal {
    background-image: url(https://i.blogs.es/f1b4a6/hamburguesas-parrilla/1366_2000.jpg);
    width: 320px;
    height: 700px;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat; }
  .video-cocina {
    height: 40px;
    width: 40px;
    margin-left: -135px; }
  .div-menu {
    height: 1500px; }
  .div-menu h2 {
    margin-left: -70px; }
  .menu-hamburguesas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 900px; }
  .card {
    width: 100%;
    max-width: 180px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden; }
  .card img {
    width: 100%;
    height: auto; }
  .card div {
    padding: 10px;
    box-sizing: border-box; }
  .card h3 {
    font-size: 1.2rem;
    margin: 10px 0; }
  .card p {
    font-size: 1rem;
    margin: 0 0 10px; }
  .card button {
    width: 100%; }
  .donde-estamos iframe {
    margin-bottom: -500px;
    height: 500px;
    width: 300px; } }

.div-contacto {
  margin-left: 70px;
  height: 150px; }

.contactanos-chat {
  margin-left: -50px;
  height: 150px; }

fieldset {
  display: flex;
  flex-direction: column; }

fieldset input,
fieldset textarea {
  width: 100%;
  font-size: 0.5em; }
