header {
    background-color: #F8F9D7;
    color: black;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 200px;
    padding-top: 60px;
}

.navbar li a {
    text-decoration: none;
    color: #F0A500;
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin-top: 70px;
    display: none;
}
