
.contactanos-chat {
    background-color: #F0A500;
    position: absolute;
    font-size: 40px;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.div-contacto {
    position: absolute;
    top: 60%;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 2;
}