@media (max-width:1024px) {
    .navbar {
        display: flex;
        list-style: none;
        gap: 20px;
        padding-top: 60px;
    }

    .section-principal h2 {
        display: flex;
        text-align: center;
        gap: 10px;
        font-size: 20px;
        margin-top: 73px;
    }

.grid-texto {
    font-size: 20px;
}
    .video-cocina {
        display: flex;
        margin-top: 100px;
    }

    .donde-estamos {
        margin-top: 200px;
    }

    .donde-estamos iframe{
        height: 400px;
        width: 700px;
        z-index: 1;
    }
}